.personBoxImage{
    width: 65px;
    height: 80px;
    margin: 0px;
}

.personBox{
    overflow: auto;
    width: 88px;
    height: 143px;
    cursor: pointer;

}

.treeContainer{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.clickableWithHover Box:hover{
    background-color: '#fc746c'
}

.personDetail b,p{
    color: 'white';
    line-height: 34px;
    font-size: 30px;
    margin: 10px;
}
.personDetailPage{
    background-image: url("/images/phadobg.png");
}

.personBox p{
    line-height: 115%;
    font-size: 11.9px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.coupleBox{
    overflow: hidden;
    width: 209px;
    height: 143px;
    cursor: pointer;

}



.personPageImage{
    max-width: 100%;
    height: auto;
}

.paginateBox p{
    font-size: 16px;
    font-weight: bold;
}

.paginateBox{
    cursor: pointer;
    background-color: #BB925E;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.paginateBox:hover{
    background-color: #f79a94;
}

.activePage{
    background-color: #fc746c;
}

.paginateForAndBackward{
    cursor: pointer;
    background-color: #BB925E;
    width: 110px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.paginateForAndBackward:hover{
    background-color: #f79a94;
}

.paginateForAndBackward p{
    font-size: 16px;
    font-weight: bold;
}



/* Cỡ điện thoại */
@media only screen and (max-width:767px) {
    /* PersonCard */
    .personBoxImage{
        width: 45px;
        height: 60px;
        margin: 0px;
    }
    .personBox p{
        font-size: 8px;
        margin: 0px;
        padding: 0px;
        margin-top: 2px;
        margin-bottom: 0px;
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
    .personBox{
        margin: 0px;
        width: 67.5px;
        height: 95px;
    }
    .coupleBox{
        margin: 0px;
        overflow: hidden;
        height: 95px;
        width: 135px;
        cursor: pointer;

    }
    .personDetail b,p{
        margin: 0px;
        line-height: 24px;
    }


    /* Person Detail */
    .personDetail b,p{
        font-size: 17px;
        margin: 5px;
    }



    /* pagination */
    .paginateBox p{
        font-size: 8px;
        font-weight: bold;
    }

    .paginateBox{
        cursor: pointer;
        background-color: #BB925E;
        width: 15px;
        height: 15px;
        align-items: center;
        justify-content: center;
    }

    .paginateBox:hover{
        background-color: #f79a94;
    }

    .activePage{
        background-color: #fc746c;
    }

    .paginateForAndBackward{
        cursor: pointer;
        background-color: #BB925E;
        width: 55px;
        height: 15px;
        align-items: center;
        justify-content: center;
    }

    .paginateForAndBackward:hover{
        background-color: #f79a94;
    }

    .paginateForAndBackward p{
        font-size: 8px;
        font-weight: bold;
    }
}
